/_build/
/cover/
/deps/
/doc/
/.fetch

checksum.exs

erl_crash.dump
*.ez

/priv/

*.o
*.obj

# Ignore package tarball (built via "mix hex.build").
exqlite-*.tar

# Temporary files for example tests
/tmp
*.db
