name: macos-precompile

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  precompile:
    runs-on: macos-14
    env:
      MIX_ENV: prod
      CC_PRECOMPILER_PRECOMPILE_ONLY_LOCAL: "true"
    strategy:
      matrix:
        arch:
          - x86_64-apple-darwin
          - arm64-apple-darwin
        job:
          - {otp: "27.0.1", elixir: "1.17.2"}
          - {otp: "25.3.2.13", elixir: "1.16.3"}

    name: Mac ${{ matrix.arch }} - OTP ${{ matrix.job.otp }} - Elixir ${{ matrix.job.elixir }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install asdf
        uses: asdf-vm/actions/setup@v2

      - name: Cache asdf
        id: asdf-cache
        uses: actions/cache@v3
        with:
          path: ~/.asdf
          key: asdf-${{ runner.os }}-build-${{ matrix.job.otp }}-${{ matrix.job.elixir }}

      - if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        name: Install Erlang & Elixir
        env:
          ELIXIR_VERSION: ${{ matrix.job.elixir }}
          OTP_VERSION: ${{ matrix.job.otp }}
        run: |
          asdf plugin-add erlang
          asdf install erlang ${OTP_VERSION}

          ELIXIR_OTP_VERSION=$(echo $OTP_VERSION | cut -d. -f1)
          asdf plugin-add elixir
          asdf install elixir ${ELIXIR_VERSION}-otp-${ELIXIR_OTP_VERSION}

      - name: Setup Erlang & Elixir
        env:
          ELIXIR_VERSION: ${{ matrix.job.elixir }}
          OTP_VERSION: ${{ matrix.job.otp }}
        run: |
          asdf global erlang ${OTP_VERSION}
          ELIXIR_OTP_VERSION=$(echo $OTP_VERSION | cut -d. -f1)
          asdf global elixir ${ELIXIR_VERSION}-otp-${ELIXIR_OTP_VERSION}

      - name: Install hex & rebar
        run: |
          mix local.hex --force
          mix local.rebar --force

      - name: Pre-compile NIF library
        run: |
          export ELIXIR_MAKE_CACHE_DIR=$(pwd)/cache
          mkdir -p "${ELIXIR_MAKE_CACHE_DIR}"
          mix deps.get
          mix elixir_make.precompile

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            cache/*.tar.gz
