name: windows-precompile

on:
  push:
    branches:
      - "main"
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  precompile:
    runs-on: windows-2022
    env:
      MIX_ENV: prod
    strategy:
      matrix:
        arch:
          - x64
        job:
          - {otp: "27", elixir: "1.17"}
          - {otp: "25", elixir: "1.14"}

    name: Windows ${{ matrix.arch }} - OTP ${{ matrix.job.otp }} - Elixir ${{ matrix.job.elixir }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.job.otp }}
          elixir-version: ${{ matrix.job.elixir }}

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Pre-compile NIF library
        shell: bash
        run: |
          export ELIXIR_MAKE_CACHE_DIR=$(pwd)/cache
          mkdir -p "${ELIXIR_MAKE_CACHE_DIR}"
          mix deps.get
          mix elixir_make.precompile

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            cache/*.tar.gz
